<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>daaaa bears</title>
  <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="main.css">

</head>
<body class="container">
<div class="jumbotron">
    <p>
      <a href="/" class="btn btn-primary">home</a>
    </p>
  <div class="container">
    <h3>my bears</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>name</th>
          <th>age</th>
          <th>gender</th>
        </tr>
      </thead>
      <tbody id="bearTable">
        <% for(var i = 0; i < bears.length; i++)  { %>
          <tr id="<%= bears[i]._id %>">

            <td> <%= bears[i].name %> </td>
            <td> <%= bears[i].age %> </td>
            <td> <%= bears[i].gender %></td>
            <td><button class="btn btn-warning deleteBear">delete</button></td>

          </tr>
        <% }; %>
      </tbody>
    </table>
  </div>


  <div class="container">
    <form class="form-inline" role="form">

      <div class="form-group">
        <label class="sr-only" for=""></label>
        <input required name="name" type="text" class="form-control" id="name" placeholder="name">
      </div>

      <div class="form-group">
        <label class="sr-only" for=""></label>
        <input required name="age" type="number" class="form-control" id="age" placeholder="age">
      </div>
    
      <div class="form-group">
        <label class="sr-only" for=""></label>
        <input required name="gender" type="text" class="form-control" id="gender" placeholder="gender">
      </div>
      
      <button type="submit" id="addBear" class="btn btn-primary">create</button>
    </form>
  </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="app.js"></script>
</html>