<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>daaaa products</title>
  <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="main.css">

</head>
<body class="container">
<div class="jumbotron">
  <div class="container">
    <h2>Product Catelog</h2>
  </div>
  <div class="container">
  <p>Render the items from the database using EJS, instead of hard coding the html..</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>In Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>football</td>
          <td>$10.00</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>baseball</td>
          <td>$10.00</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <form action="" method="" class="form-inline" role="form">
      <h3>Add New Product</h3>
      <p>Finish the 'addProduct' method in app.js to get this form to submit a new product to the server.</p>
      <p>Hint: Finish the POST product route in routes/products.js and test it in POSTMAN</p>
      <div class="form-group">
        <label class="sr-only" for="">name</label>
        <input type="text" name="name" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label class="sr-only" for="">price</label>
        <input type="text" name="price" class="form-control" id="price">
      </div>

      <div class="form-group">
        <label class="sr-only" for="">in stock</label>
        <input type="text" name="inStock" class="form-control" id="inStock">
      </div>
    
      <button id="" type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
 
</div>


</body>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="pleaseLinkMe.js"></script>

</html>